<template>
  <div class="mori">
    <TextboxAtom label="名" defaultValue="初期値" placeholder="入力してください" />
  </div>
</template>

<script>
// @ is an alias to /src
import TextboxAtom from '@/components/atoms/TextboxAtom.vue'

export default {
  name: 'AboutView',
  components: {
    TextboxAtom
  }
}
</script>
