<template>
  <div class="textbox">
    <label>{{ label }}</label>
    <input type="text" :v-model="defaultvalue" :placeholder="placeholder">
  </div>
</template>

<script>
export default {
  name: 'TextboxAtom',
  props: {
    label: String,
    defaultvalue: String,
    placeholder: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
input {
  margin-left: 10px;
}
</style>
