<template>
  <div class="about">
    <TextboxAtom label="姓" defaultvalue="初期値１" placeholder="入力してください" />
    <TextboxAtom label="名" defaultvalue="初期値２" placeholder="入力してください" />
  </div>
</template>

<script>
// @ is an alias to /src
import TextboxAtom from '@/components/atoms/TextboxAtom.vue'

export default {
  name: 'NameMolecules',
  components: {
    TextboxAtom
  }
}
</script>
